@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
      overflow-x: hidden;
}
.nav
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  top: -100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
ul
{
  position: relative;
}
ul li
{
  list-style: none;
  text-align: center;
}
ul li a
{
  color: #333;
  text-decoration: none;
  font-size: 3em;
  font-weight: 200 !important;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
ul:hover li a
{
  color: #0002;
}
ul li:hover a
{
  color: #000;
  background: rgba(255,255,255,1);
}
ul li a:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vw;
  color: rgba(0,0,0,.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s;
}
ul li a:hover:before
{
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  font-weight: 200;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
ul li:nth-child(6n+1) a:before
{
  background: #81ecec;
}
ul li:nth-child(6n+2) a:before
{
  background: #ff7675;
}
ul li:nth-child(6n+3) a:before
{
  background: #55efc4;
}
ul li:nth-child(6n+4) a:before
{
  background: #a29bfe;
}
ul li:nth-child(6n+5) a:before
{
  background: #fd79a8;
}
ul li:nth-child(6n+6) a:before
{
  background: #ffeaa7;
}

.top {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      visibility: visible;
      background-image: url("/assets/topback2.jpg");
      background-size: cover;
      background-attachment: fixed;
      opacity: 1;
      transition: opacity 1s;
}
.top div {
      font-size: 20vw;
      font-weight: 200;
      color: white;
      cursor: crosshair;
      height: 20vw;
}
.top div span {
      position: relative;
      top: -20%;
}
.timer {
      font-size: 5vw;
      font-weight: 400;
}
.top ion-icon {
      color: white;
      margin: 0;
      position: absolute;
      bottom: 2vw;
}
.top ion-icon.B {
  font-size: 4vw;
  bottom: 3.5vw;
}
.top ion-icon.C {
  font-size: 2vw;
}
b {
      font-size: 30vw;
      font-weight: 400;
}
.close {
      color: black;
      position: sticky;
      top: 15px;
      right: 5px;
      font-size: 60px;
}
.open {
      color: white;
      position: fixed;
      top: 15px;
      right: 5px;
      font-size: 60px;
}
#gallery {
  margin: 5px;
  opacity: 0;
  transition: opacity 1s;
}
.container {
      width: 100%;
      display: grid;
      grid-auto-flow: dense;
      grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                     "1fr 1fr 1fr 1fr 1fr" 33.33vh
                     "1fr 1fr 1fr 1fr 1fr" 33.33vh;
      grid-gap: 5px;

}
.container .box {
      position: relative;
      background: #ccc;
}
.container .box img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 1;
      transition: scale 0.2s;
}
.container .box:hover ~ img {
      scale: 1.5;
}
.container .a {
      grid-row: span 2;
}
.container .b,
.container .f,
.container .h,
.container .j {
      grid-column: span 2;
}
.navcom {
      position: relative;
      top: -100vh;
      opacity: 1;
      transition: opacity 1s;
}
@media (max-width: 991px) {
      .container {
            grid-template: "1fr 1fr 1fr" 200px
                           "1fr 1fr 1fr" 200px
                           "1fr 1fr 1fr" 200px
                           "1fr 1fr 1fr" 200px
                           "1fr 1fr 1fr" 200px;
      }
}
@media (max-width: 768px) {
      .container {
            grid-template: "1fr 1fr" 200px
                           "1fr 1fr" 200px
                           "1fr 1fr" 200px
                           "1fr 1fr" 200px
                           "1fr 1fr" 200px;
      }
      .container .h {
            grid-column: span 1;
      }
}